$defaultFontColor: #2f394d;
$imageCardBackground: #f1f2eb;
$imageCardBorder: #accbe1;
$placeholderFontColor: #363636;
$inputBorderColor: #56666b;
$hoverColor: #000000;
$offWhite: #fefdff;
$bodyBackground: #f18f01;
$focusColor: #2e86ab;
$headerLightShadow: #80ded9;
$headerDarkShadow: #0d1321;
$errorMessageBackground: #FFF6F6;
$errorMessageColor: rgb(159, 58, 56);
$boxShadow: #AA92A0;
