$defaultFontColor: #02020a;
$imageCardBackground: #f1f2eb;
$imageCardBorder: #accbe1;
$placeholderFontColor: #363636;
$inputBorderColor: #56666b;
$hoverColor: #000000;
$offWhite: #fefdff;
$bodyBackground: #a9bcd0;
$focusColor: #1e91d6;
$headerLightShadow: #a5c4d4;
$headerDarkShadow: #0d1321;
