$defaultFontColor: #2f394d;
$imageCardBackground: #f1f2eb;
$imageCardBorder: #accbe1;
$placeholderFontColor: #363636;
$inputBorderColor: #56666b;
$hoverColor: #000000;
$offWhite: #fefdff;
$bodyGradientOne: #8e9eab;
$bodyGradientTwo: #eef2f3;
$focusColor: #2e86ab;
$headingLightColor: #ffffff;;
$headingDarkColor: #485563;
$errorMessageBackground: #FFF6F6;
$errorMessageColor: rgb(159, 58, 56);
$errorMessageBoxShadow: #AA92A0;
