@include mq-mobile {
    header {
        text-align: center;
        margin: 0;
        h1 {
            letter-spacing: 0.5rem;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 5px;
            -webkit-text-stroke-color: transparent;
            text-shadow: 5px  20px $headingLightColor, 7px 23px $headingDarkColor;
        }
        p {
            margin: 60px auto 0;
            width: 280px;
        }
    }
}

@include mq-tablet {
    header {
        p {
            width: 500px;
        }
    }
}     

@include mq-desktop {
    header {
        p {
            width: 600px;
        }
    }
}