@import 'mixins';

@include mq-mobile {
    header {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
        h1 {
            letter-spacing: 0.5rem;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 5px;
            -webkit-text-stroke-color: transparent;
            text-shadow: 0 20px $headerLightShadow, 7px 23px $headerDarkShadow;
        }
    }
}