@import 'mixins';

@include mq-mobile {
    header {
        text-align: center;
        margin: 0;
        h1 {
            letter-spacing: 0.5rem;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 5px;
            -webkit-text-stroke-color: transparent;
            text-shadow: 5px  20px $headingDarkColor, 7px 23px $headingLightColor;
        }
    }
}