@import 'mixins';

@include mq-mobile {
    .image-list-wrapper {
        width: min-content;
        margin: 0 auto;
        transition: 2000ms;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        transition: 2s;
        li {
            background: $imageCardBackground;
            border: 1px solid $imageCardBorder;
            border-radius: 5px;
            padding: 15px 0 15px 0;
            margin-bottom: 20px;
            width: 280px;
            transition: 2s;
        }
    }
    .download-link {
        padding-left: 18px;
        margin-top: 0;
        font-size: 1.8rem;
        &:visited {
            color: $defaultFontColor;
        }
    }
}

@include mq-tablet {
    ul {
        column-count: 2;
        column-gap: 20px;
        li {
            display: inline-block;
        }
    }
}

@include mq-desktop {
    ul {
        column-count: 3;
        display: block;
        li {
            display: inline-block;
        }
    }
}

@include mq-retina {
    ul {
        column-count: 4;
    }
}