@import 'mixins';

@include mq-mobile {
    .image-list-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            background: $imageCardBackground;
            border: 1px solid $imageCardBorder;
            border-radius: 5px;
            padding: 15px 0 15px 0;
            margin-bottom: 20px;
            width: 280px;
        }
    }
    .download-link {
        padding-left: 18px;
        margin-top: 0;
        font-size: 1.8rem;
        &:visited {
            color: $defaultFontColor;
        }
    }
}

@include mq-tablet {
    .image-list-wrapper {
        margin: 20px auto 0 auto;
    }
    ul {
        column-count: 2;
        column-gap: 20px;
        
    }
}

@include mq-desktop {
    .image-list-wrapper {
        margin: 0 auto;
        max-width: 800px;
    }
    ul {
        column-count: 3;
        display: block;
        li {
            display: inline-block;
        }
    }
}

@include mq-retina {
    .image-list-wrapper {
        max-width: 1180px;
    }
    ul {
        column-count: 4;
    }
}